*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./asset/BG.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
}

.bulb_area{
    width: 500px;
    height: 700px;
    position: relative;
}

.bulb-holder{
    width: 50px;
    height: 40px;
    background-color: rgb(9,9,9);
    position: absolute;
    top: 70px;
    left: 57px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translate(630px,120px);
    z-index:1;

}

.bulb{
    width: 50px;
    height:20px;
    background-color: rgb(250, 250, 250);
    border-radius: 60%;
    transform: translate(0px, 33px);
    animation: light 2000ms infinite cubic-bezier(1,-0.45,0,1.89);
}

#b1{
    transform: translate(500px,300px);
}

#b2{
    transform: translate(650px,300px);
}

#b3{
    transform: translate(900px,300px);
}


@keyframes light {
    10%{
        box-shadow: 0px 1px 10px yellow,
         0 2px 20px yellow, 
         10px 20px 30px yellow,
         10px 20px 30px yellow, 
         30px 50px 50px yellow,
         -30px 50px 50px yellow;
    }
    20%{
        box-shadow:none;
    }
    30%{
        box-shadow: 0px 1px 10px peru,
         0 2px 20px peru, 
         10px 20px 30px peru,
         10px 20px 30px peru, 
         30px 50px 50px peru,
         -30px 50px 50px peru;
    }
    40%{
        box-shadow:none;
    }
    50%{
        box-shadow: 0px 1px 10px firebrick,
         0 2px 20px firebrick, 
         10px 20px 30px firebrick,
         10px 20px 30px firebrick, 
         30px 50px 50px firebrick,
         -30px 50px 50px firebrick;

    }
    60%{
        box-shadow:none;
    }
    70%{
        box-shadow: 0px 1px 10px rgb(132, 0, 255),
         0 2px 20px rgb(132, 0, 255), 
         10px 20px 30px rgb(132, 0, 255),
         10px 20px 30px rgb(132, 0, 255), 
         30px 50px 50px rgb(132, 0, 255),
         -30px 50px 50px rgb(132, 0, 255);

    }
    80%{
        box-shadow: 0px 1px 10px rgb(255, 0, 132),
         0 2px 20pxrgb(255, 0, 132), 
         10px 20px 30px rgb(255, 0, 132)w,
         10px 20px 30px rgb(255, 0, 132), 
         30px 50px 50px rgb(255, 0, 132),
         -30px 50px 50px rgb(255, 0, 132);
    }
    90%{
        box-shadow: 0px 1px 10px yellow,
         0 2px 20px yellow, 
         10px 20px 30px yellow,
         10px 20px 30px yellow, 
         30px 50px 50px yellow,
         -30px 50px 50px yellow,
         40px 60px 100px yellow,
         -40px 60px 100px yellow,
         70px 70px 100px yellow,
         -70px 70px 100px yellow;

    }
    100%{
        box-shadow: 0px 1px 10px yellow,
         0 2px 20px yellow, 
         10px 20px 30px yellow,
         10px 20px 30px yellow, 
         30px 50px 50px yellow,
         -30px 50px 50px yellow,
         40px 60px 100px yellow,
         -40px 60px 100px yellow,
         70px 70px 100px yellow,
         -70px 70px 100px yellow;

    }
}

